<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
	<add key="ReadFolder" value="D:\\Programming\\NetMentoring\\5. Messaging\\ScannerManager\\readFolder" />
	<add key="DropFolder" value="D:\\Programming\\NetMentoring\\5. Messaging\\ScannerManager\\dropFolder" />
	<add key="TimeOut" value="10" />
	<add key="ScannerName" value="Scaner 1" />
	<add key="ServiceName" value="ScannerManagerService1" />
	<add key="DisplayName" value="Scanner Manager Service 1" />
  </appSettings>
</configuration>